<<<<<<< HEAD
=======
body {
	font-family: "Monstserrat", 'Segoe UI', Tahoma, Geneva, Verdana, Sans-serif;
}

a, a:hover {
	text-decoration: none;
}

#topbar {
	background-color: #15477A;
	color: #fff;
	height: 50px;
	line-height: 50px;
}

.topcontact, .sosmed {
	list-style: none;
	padding: 0;
}

#topbar li {
	display: inline-block;
}

#topbar li a {
	color: #fff;
	display: inline-block;
	padding: 0 20px;
}

#topbar li a i {
	color: #f2C808;
	margin-right: 5px;
}

#topbar .sosmed li a {
	padding: 0 5px;
}

#topbar .sosmed li a i {
	color: #fff;
}

/* css untuk header */

header {
	padding: 30px 0;
}

.brand {
	display: flex;
}

.brand img {
	margin-right: 10px;
}

.brand .brand-name h1 {
	font-size: 25px;
	color: #15477A;
	text-transform: uppercase;
}

.brand .brand-name h3 {
	font-size: 18px;
	font-family: "Raleway", 'Segoe UI', Tahoma, Geneva, Verdana, Sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #888888;
}

.pembungkus-searchbox {
	display: flex;
	align-items: center;
}

.searchbox {
	width: 100%;
}

.btn.btn-utama {
	background-color: #15477A;
	color: #F2C808;
	text-transform: uppercase;
	font-weight: 600;
	transition: background-color 0.3%; 
}

.btn.btn-utama:hover {
	background-color: #002b57;

}

/* CSS untuk menu / navbar */


.navbar {
	padding: 0;
	border-bottom: 5px solid #F2C808;
}

.nav-link {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 0.25px;
}

.bg-biru {
	background-color: #15477A!important;
	color: #fff;
} 

.navbar-light .navbar-nav .nav-link {
	color: #fff;
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active, 
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav.link {
	color: #fff;
}

.active {
	background-color: #f2c808;
	color: #15477A;
}

li.nav-item.active a {
	color: #15477A;
}

.navbar-dark .navbar-nav .nav-link {
	padding: 15px 20px;
	display: inline-block;
}

/* css untuk slider hero area */

#hero-area {
	position: relative;
}

#slider-hero-nav .owl-prev, 
#slider-hero-nav .owl-next {
	position: absolute;
	top: 50%;
	z-index: 10;
	border: none;
	background-color: #15477A;
	color: #fff;
	outline: none;
	padding: 10px 25px;
	font-size: 20px;
	transition: background-color 0.3% ;
}

#slider-hero-nav .owl-prev {
	left: 0;
	border-radius: 0 50px 50px 0;
}

#slider-hero-nav .owl-next {
	right: 0;
	border-radius: 50px 0 0 50px;
}

#slider-hero-nav .owl-prev:hover,
#slider-hero-nav .owl-next:hover {
	cursor: pointer;
	background-color: #f2C808;
}

#hero-area .slider-item-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(255, 255, 255, 0.7);
	padding: 20px;
	text-align: center;
	font-family: "Raleway", 'Segoe UI', Tahoma, Geneva, Verdana, Sans-serif
	width: 50%;
	

}

#hero-area .slider-item-content h2 {
	font-size: 32px;
	font-weight: 500;
}

#hero-area .slider-item-content p {
	font-size: 16px;
}

/* CSS untuk section sambutan */

#sambutan {
	margin: 50px 0;
}

#sambutan {
	color: #15477A;
	font-size: 28px;
	font-weight: 500;
	margin-bottom: 30px;
}

#sambutan h3 {
	color: #15477A;
	font-size: 28px;
	font-weight: 500;
}

#sambutan p {
	font-size: 14px;
	font-family: Raleway, Sans-serif;
	font-size: 500;
	line-height: 28px;
}


>>>>>>> d90e6e164a547366012a0363b47cff91144d2b9c
html {
	scroll-behavior: smooth;
}

.sejarah, .visi, .prestasi, .ekstrakulikuler, .galeri, .contact{
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: row;
	/* width: 100%;
	height: 160px; */
}

.jumbotron {
  text-align: center;
  padding-top: 10rem;
  padding-bottom: 10rem;
	text-shadow: 2px 2px #000;

}

.bg-cover {
	background-image: url('/img/11.jpg');
	background-size: cover;
  color: white;
  background-position: center center;
	position: relative;
	height: 850px;
	z-index: -2;
}
.lead {
  color: white;
	font-weight: bold;
}
.jumbotron-text{
	margin-top: 10%;
}

.overlay {
  background-color: #000;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.jumbotron hr{

	width: 100%;
	border-top: 3px solid #eaeaea;
	margin-top: -55px;
}

/* .jumbotron .btn{
	margin-left: 520px;
} */

.card {
	width: 20rem;
	margin-top: -150px;
	margin-left: 50px;
}


.col-md-3 img{
	margin-left: 70px;
	margin-top: -20px; 
}
